.top-header {
    width: 100%;
    padding: 10px 0;
    border-bottom: 2px solid #eee;
    font-family: Arial, sans-serif;
    
    margin-top: -20px;
    height: 200PX;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;

    z-index: 1;
}
.header-content {
    background:linear-gradient(180deg, rgba(107, 255, 181, 0.9), rgba(214,241,235,0.9));
    max-width: 1500px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-area {
    display: flex;
    align-items: center;
    gap: 12px;
}
.logo-area img {
    width: 70px;
    height: auto;
}
.title {
    display: flex;
    flex-direction: column;
    line-height: 1.1;
}
.title .line1 {
    font-size: 20px;
    color: #038a31;
    font-weight: bold;
}
.title .line2 {
    font-size: 20px;
    color: red;
    font-weight: bold;
}
.contact-area {
    display: flex;
    gap: 25px;
    font-size: 15px;
    align-items: center;
}
.contact-item {
    display: flex;
    align-items: center;
    gap: 6px;
}
.contact-item a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
}
.icon {
    font-size: 18px;
}
.main-menu {
    width: 100%;
    background:linear-gradient(180deg, rgba(107, 255, 181, 0.9), rgba(214,241,235,0.9));
    border-top: 1px solid #89ee89;
}
.main-menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 12px 0;
    margin: 0;
}
.main-menu ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #222;
    font-weight: 500;
}
.main-menu ul li a.active {
    text-decoration: underline;
}


@media (max-width: 850px) {
    .header-content {
        flex-direction: column;
        gap: 10px;
    }
    .contact-area {
        flex-direction: column;
        text-align: center;
        gap: 5px;
    }
    .main-menu ul {
        flex-direction: column;
        gap: 12px;
    }
}





body{
  font-family:"Rubik", system-ui, sans-serif;
  color:#1f2d2d;
  background:white;
  line-height:1.4;
}


.header-btns{
  align-items: right;
  justify-content: right;
  margin-top:28px;
  margin-right: 20px;
  display:flex;
  gap:12px;
}
.btn{
  display:inline-block;
  padding:10px 18px;
  border-radius:8px;
  text-decoration:none;
  font-weight:600;
  box-shadow:0 2px 6px rgba(0,0,0,0.12);
}
.btn-green{ 
  background:#a8c81e; 
  color:#fff 
}
.btn-red{ 
  background:#d84b4b; 
  color:#fff 
}
.header_button1{
  align-items: center;
  justify-content: center;
  margin-top:28px;
  margin-right: 20px;
  display:flex;
}
.btn-light{ 
  background:#fff; 
  color:#333; 
  border-radius:6px; 
  padding:10px 14px 
}







/*-------------------------------------------------body-----------------------------------------*/
*{
  box-sizing:border-box;
  font-family:Arial,sans-serif; 
}  
body{
  margin:0;
  background:#f6f6f6; 
}  
.services{
  padding:60px 8%;
  text-align:center; 
  background: url(../ASSETS/IMAGES/entree-principale.png);
  background-repeat: no-repeat;
}  
.services h2{
  color:#05bd30;
  font-size:40px; 
}  
.subtitle{
  color:#fff;
  font-size:20px;
  margin-bottom:50px; 
}  
.services-container{
  display:flex;
  gap:30px;
  justify-content:center;
  flex-wrap:wrap; 
}  
/*CARDS*/ 
.card{
  width:480px;
  padding:40px;
  border-radius:6px;
  text-align:left;
  transition:0.3s; 
}  
/*CONSULTATION*/ 
.consultation{
  background:white;
  border:1px solid #ddd; 
}  
.consultation h3{
  text-align:center;
  color:#1f7a34; 
}  
/*HOSPITALISATION*/ 
.hospitalisation{
  background:#1f7a34;
  color:white; 
}  
.hospitalisation h3{
  text-align:center; 
}  
/*ICON*/ 
.icon{
  width:65px;
  height:65px;
  margin:0 auto 15px;
  border-radius:6px;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:28px; 
}  
.icon.green{
  background:#1f7a34;
  color:white; 
}  
.icon .white{
  background:white;
  color:#1f7a34; 
}  
/*LISTS*/ 
.lists{
  display:flex;
  gap:25px; 
}  
ul{
  list-style:none;
  padding:0; 
}  
ul li{
  margin-bottom:10px;
  padding-left:15px;
  position:relative; 
}  
ul li::before{
  content:"+";
  position:absolute;
  left:0;
  font-weight:bold; 
}








/*-------------------------------------------------footer-----------------------------------------*/





.site-footer{
  background:#681010;
  color:white;
  padding:40px 20px 18px;
}

.footer-inner{
  max-width:1200px;
  margin:0 auto;
  display:grid;
  gap:14px;
  grid-template-columns: 220px 1fr 320px 300px;
}
.LOGO{ 
  WIDTH:80PX; 
  HEIGHT:80PX; 
  DISPLAY:BLOCK; 
  MARGIN-BOTTOM:40PX; 
}

.logo{
  width:110px;
  margin-bottom:16px;
  background:#fff;
  padding:4px;
}

.col-title{
  color:var(--white);
  border-bottom:3px solid rgba(232,107,90,0.12);
  padding-bottom:6px;
}
.contact-col IMG{

  display: flex;
  flex-direction:row;
  width: 20PX;
}
.contact-col p{
  display: flex; 
  padding: 20px;
  MARGIN-BOTTOM:8PX; 
  COLOR:#D8D0D0; 
}
.BTNS{ 
  DISPLAY:FLEX;
  FLEX-DIRECTION:COLUMN; 
 SIZE: 10PX;
  GAP:8PX;
   
}  
  
.BTN-APPOINTMENT{ 
  PADDING:10PX 14PX; 
  BORDER-RADIUS:6PX;
  BORDER-WIDTH:10PX;
  BORDER:NONE; 
  CURSOR:POINTER; 
  FONT-WEIGHT:600; 
    --white: #ffffff; 
  
  
}  
.BTN-APPOINTMENT a{
  text-decoration: none;
  COLOR:#2C1F1F; 

}
.BTN-SUBSCRIBE{ 
  PADDING:10PX 14PX; 
  BORDER-RADIUS:6PX; 
  BORDER:NONE; 
  CURSOR:POINTER; 
  FONT-WEIGHT:600; 
  BACKGROUND:#B7E03B; 
  
}  
.BTN-SUBSCRIBE a{
  text-decoration: none;
  COLOR:#064; 

}

/*-------------------------------------------------footer-----------------------------------------*/
.SITE-FOOTER2{ 
  
  align-items: center;
  justify-content: center;
  BACKGROUND:#420404; 
  COLOR:#c4c3c3; 
  PADDING:10PX; 
  
}
.footer-innercontainer{
  justify-content: center;
  text-align: center;
  
}

@media (max-width:1024px){
  .footer-inner{
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
  }
  .logo-col{
    order: 1;
  }
  .services-col{
    order: 2;
  }
  .contact-col{
    order: 3;
  }
  .newsletter-col{
    order: 4;
  }
}
@media (max-width:600px){
  .footer-inner{
    grid-template-columns: 1fr;
    text-align: left;
  }
  .logo{
    margin: 0 auto 12px;
  }
  .form-action{
    flex-direction: column;
  }
  .btn-outline,
    .btn-primary{
      width: 100%;
    }
}



